<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzh.lzhblog.dao.TagMapper">

    <sql id="tagEntity">
        id,name,create_by,create_time,update_by,update_time,del_flag,remark
    </sql>

    <select id="getTagsByArticleId" resultType="com.lzh.lzhblog.domain.entity.Tag">
        select <include refid="tagEntity"></include>
        from lzh_tag
        where id in (
            select tag_id
            from lzh_article_tag
            where article_id = #{articleId}
        ) and del_flag = 0

    </select>
</mapper>