<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzh.lzhframework.dao.ArticleMapper">

    <sql id="articleColumn">
        id
        ,title,content,summary,category_id,thumbnail,is_top,status,view_count,comment_count,liked_count,is_comment,create_by,create_time,update_by,update_time,del_flag

    </sql>

    <select id="getViewCountTopNumArticle" resultType="com.lzh.lzhframework.domain.entity.Article">
        select
        <include refid="articleColumn"></include>
        from lzh_article
        order by view_count desc
        limit 0,#{topNum}
    </select>

    <select id="getTotalViewCount" resultType="java.lang.Long">
        select ifnull(sum(view_count),0)
        from lzh_article
        where status = '0'
    </select>
    <select id="getAllDiffDate" resultType="java.util.Date">
        select create_time
        from lzh_article
        where status = '0'
    </select>

    <select id="queryArticleNumByCategory" resultType="java.util.Map">
        select a.category_id as categoryId, c.name as name, count(category_id) as num
        from lzh_article a
                 left join lzh_category c on a.category_id = c.id
        where a.del_flag = 0
          and a.status = 0
          and c.del_flag = 0
          and c.status = 0
          and c.status = 0
        group by category_id
    </select>
</mapper>