<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzh.lzhframework.dao.CarouselImgMapper">


    <select id="selectMaxSortCarouselImg" resultType="java.lang.Integer">
        select sort
        from lzh_carousel_img
        order by sort desc limit 0,1
    </select>

    <select id="selectCarouselImgByConfig" resultType="com.lzh.lzhframework.domain.entity.CarouselImg">
        select * from lzh_carousel_img order by sort ${order} limit 0,#{count}
    </select>
</mapper>