<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzh.lzhframework.dao.TagMapper">

    <sql id="tagEntity">
        id,name,create_by,create_time,update_by,update_time,del_flag,remark
    </sql>

    <select id="getTagsByArticleId" resultType="com.lzh.lzhframework.domain.entity.Tag">
        select <include refid="tagEntity"></include>
        from lzh_tag
        where id in (
            select tag_id
            from lzh_article_tag
            where article_id = #{articleId}
        ) and del_flag = 0

    </select>

    <select id="getArticlesIdByTagId" resultType="java.lang.Long">
        select article_id from lzh_article_tag where tag_id = #{tagId}
    </select>
    <select id="getMaxSortTag" resultType="java.lang.Long">
        select sort from lzh_tag
        order by sort desc
        limit 0,1
    </select>

</mapper>